<mat-card class="mainCardView" style="margin: 20px;" *ngFor="let card of cards">
    <mat-card-header>
        <div mat-card-avatar class="header-image" style="background-image: url({{card.set.images.symbol}});">
        </div>
        <mat-card-title>{{card.name}}</mat-card-title>
        <mat-card-subtitle>#{{card.nationalPokedexNumbers[0]}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="card.images.small" alt="">
    <mat-card-actions>
        <app-dialog [selectedCardData]="card"></app-dialog>
    </mat-card-actions>
</mat-card>